<!DOCTYPE html>
<%= content_tag :html, class: 'no-js', **html_tag_attributes do %>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title><%= render_page_title %></title>
    <%= javascript_pack_tag "application", "m3" %>


    <script type="importmap" data-turbo-track="reload">{
      "imports": {
        "@hotwired/turbo-rails": "/assets/turbo.min-dfd93b3092d1d0ff56557294538d069bdbb28977d3987cb39bc0dd892f32fc57.js",
        "@hotwired/stimulus": "/assets/stimulus.min-dd364f16ec9504dfb72672295637a1c8838773b01c0b441bd41008124c407894.js",
        "@hotwired/stimulus-loading": "/assets/stimulus-loading-3576ce92b149ad5d6959438c6f291e2426c86df3b874c525b30faad51b0d96b3.js",
        "@github/auto-complete-element": "https://cdn.skypack.dev/@github/auto-complete-element",
        "@popperjs/core": "https://ga.jspm.io/npm:@popperjs/core@2.11.6/dist/umd/popper.min.js",
        "bootstrap": "https://ga.jspm.io/npm:bootstrap@5.3.0/dist/js/bootstrap.js",
        "blacklight/bookmark_toggle": "/assets/blacklight/bookmark_toggle-97b6e8357b4b80f49f7978d752d5b6e7e7f728fe9415742ab71b74418d689fad.js",
        "blacklight/button_focus": "/assets/blacklight/button_focus-9e15a08a7a1886d78f54ed5d25655a8a07a535dcdd4de584da5c6c6d47e4188c.js",
        "blacklight/checkbox_submit": "/assets/blacklight/checkbox_submit-7487e8aab30e3b1509ab58ee473b9a886d755332ade14642ecd98b4cff0c72ef.js",
        "blacklight/core": "/assets/blacklight/core-65db34d8f13f026bcc00abf2dc79a6d61c981f588e6e43b8ea002108656b0ae2.js",
        "blacklight": "/assets/blacklight/index-267e64c5525f71bbc998c7dcc67340a3a40ae3464988e067f0a65d7a8f5f58b3.js",
        "blacklight/modal": "/assets/blacklight/modal-68610e6a319400c036afd544e8c05c9d5cf1b64c06ec2f06c0e94e3952366553.js",
        "blacklight/modalForm": "/assets/blacklight/modalForm-02d8c117d37bf34110a491a76d0889980cb960ebfe1c1c2445e9de64e8637fee.js",
        "blacklight/search_context": "/assets/blacklight/search_context-73898e17aacbe00701917cb30c8edf9f3294ca3fa857f99e393bde1000dc4984.js",
        "controllers/document_downloads_component_controller": "/assets/controllers/document_downloads_component_controller-16e18daa70b5300ecb5f88708f3f83178cfabf085fc576e363a04f22684fd0ec.js",
        "controllers/iiif_viewer_component_controller": "/assets/controllers/iiif_viewer_component_controller-42c4ca1f3c3d7d95855475af88780ead2dfd349c36f1944fe13f437d9856c6fe.js",
        "controllers": "/assets/controllers/index-4992a9c244ae48f54f99860d8c90c02176c0257bfe6a0b001b15e072d1f8bd8f.js"
      }
    }</script>
    <link rel="modulepreload" href="/assets/turbo.min-dfd93b3092d1d0ff56557294538d069bdbb28977d3987cb39bc0dd892f32fc57.js">
    <link rel="modulepreload" href="/assets/stimulus.min-dd364f16ec9504dfb72672295637a1c8838773b01c0b441bd41008124c407894.js">
    <link rel="modulepreload" href="/assets/stimulus-loading-3576ce92b149ad5d6959438c6f291e2426c86df3b874c525b30faad51b0d96b3.js">
    <link rel="modulepreload" href="https://cdn.skypack.dev/@github/auto-complete-element">
    <link rel="modulepreload" href="https://ga.jspm.io/npm:@popperjs/core@2.11.6/dist/umd/popper.min.js">
    <link rel="modulepreload" href="https://ga.jspm.io/npm:bootstrap@5.3.0/dist/js/bootstrap.js">
    <link rel="modulepreload" href="/assets/blacklight/bookmark_toggle-97b6e8357b4b80f49f7978d752d5b6e7e7f728fe9415742ab71b74418d689fad.js">
    <link rel="modulepreload" href="/assets/blacklight/button_focus-9e15a08a7a1886d78f54ed5d25655a8a07a535dcdd4de584da5c6c6d47e4188c.js">
    <link rel="modulepreload" href="/assets/blacklight/checkbox_submit-7487e8aab30e3b1509ab58ee473b9a886d755332ade14642ecd98b4cff0c72ef.js">
    <link rel="modulepreload" href="/assets/blacklight/core-65db34d8f13f026bcc00abf2dc79a6d61c981f588e6e43b8ea002108656b0ae2.js">
    <link rel="modulepreload" href="/assets/blacklight/index-267e64c5525f71bbc998c7dcc67340a3a40ae3464988e067f0a65d7a8f5f58b3.js">
    <link rel="modulepreload" href="/assets/blacklight/modal-68610e6a319400c036afd544e8c05c9d5cf1b64c06ec2f06c0e94e3952366553.js">
    <link rel="modulepreload" href="/assets/blacklight/modalForm-02d8c117d37bf34110a491a76d0889980cb960ebfe1c1c2445e9de64e8637fee.js">
    <link rel="modulepreload" href="/assets/blacklight/search_context-73898e17aacbe00701917cb30c8edf9f3294ca3fa857f99e393bde1000dc4984.js">
    <link rel="modulepreload" href="/assets/controllers/document_downloads_component_controller-16e18daa70b5300ecb5f88708f3f83178cfabf085fc576e363a04f22684fd0ec.js">
    <link rel="modulepreload" href="/assets/controllers/iiif_viewer_component_controller-42c4ca1f3c3d7d95855475af88780ead2dfd349c36f1944fe13f437d9856c6fe.js">
    <link rel="modulepreload" href="/assets/controllers/index-4992a9c244ae48f54f99860d8c90c02176c0257bfe6a0b001b15e072d1f8bd8f.js">


    <script>
      document.querySelector('html').classList.remove('no-js');
    </script>
    <%= opensearch_description_tag application_name, opensearch_catalog_url(format: 'xml') %>
    <%= favicon_link_tag %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload"  %>
    <%= csrf_meta_tags %>
    <%= content_for(:head) %>
  </head>
  <body class="<%= render_body_class %>">
    <main>
      <nav id="skip-link" role="navigation" aria-label="<%= t('blacklight.skip_links.label') %>">
        <%= link_to t('blacklight.skip_links.search_field'), '#search_field', class: 'element-invisible element-focusable rounded-bottom py-2 px-3', data: { turbolinks: 'false' } %>
        <%= link_to t('blacklight.skip_links.main_content'), '#main-container', class: 'element-invisible element-focusable rounded-bottom py-2 px-3', data: { turbolinks: 'false' } %>
        <%= content_for(:skip_links) %>
      </nav>
      <%= render partial: 'shared/header_navbar' %>

      <div id="main-container" class="<%= container_classes %>-fluid" role="main" aria-label="<%= t('blacklight.main.aria.main_container') %>">
        <%= content_for(:container_header) %>

        <%= render partial: 'shared/flash_msg', layout: 'shared/flash_messages' %>

        <div class="row">
          <%= content_for?(:content) ? yield(:content) : yield %>
        </div>
      </div>
      <br/>
    </main>
    <%= render partial: 'shared/footer' %>
    <%= render partial: 'shared/modal' %>
  </body>
<% end %>