<%= content_tag @component,
  id: @id,
  data: {
    'document-id': @document.id.to_s.parameterize,
    'document-counter': @counter,
  },
  itemscope: true,
  itemtype: @document.itemtype,
  class: classes.flatten.join(' ') do %>
  <%= header %>
  <% if body.present? %>
    <%= body %>
  <% else %>
    <div class="document-main-section container">
      <% if @component.to_s == 'div' %>
        <br/>
        <div class="crumbs">
          <a href="/catalog">Collection search</a> <span>/</span> 
          <% @document._source["collection_tsim"].each do |val| %>
            <a href="/catalog?f%5Bcollection_tsim_str%5D%5B%5D=<%= val %>"><%= val %></a>  / 
          <% end %>
          <% if @document._source['is_issue'] && @document._source['is_issue'][0] == "Yes" && @document._source['serial_title'] %>
            <a href="/catalog/<%=  @document._source['serial_key'] %>"><%=  @document._source['serial_title'][0] %></a>  / 
          <% end %>
        </div>
      <% end %>
      <%= title %>
      <% if !(@document._source["is_serial"] && @document._source["is_serial"][0] === 'Yes') %>
        <% if @component.to_s == 'div' %>
          <%= render(ViewerComponent.new(documentId: @document.id)) %>
        <% end %>
      <% end %>
      <%= embed %>
      <%= content %>
      <% if @component.to_s == 'div' %>
      <br/>
      <div class="row gx-2 gy-1">
        <div class="col-sm-9">
          <h2>Document Record</h2>
          <%= metadata %>
          <% metadata_sections.each do |section| %>
            <%= section %>
          <% end %>
        </div>
        <div class="col-sm-3">
          <%= render(Blacklight::Document::SidebarComponent.new(presenter: @presenter)) %>
        </div>
      </div>
      <% end %>
      <% if @component.to_s != 'div' %>
          <%= metadata %>
          <% metadata_sections.each do |section| %>
            <%= section %>
          <% end %>
      <% end %>
      <% partials.each do |partial| %>
        <%= partial %>
      <% end %>

      <% if @component.to_s == 'article' %>
        <%= render(PageSearchComponent.new(documentId: @document.id, term: params[:q] || '', prefix: 'oocihm')) do %><% end %>
      <% end %>
      
    </div>

    <%= thumbnail %>
  <% end %>
  <%= footer %>
<% end %>