<%= content_tag @component,
  id: @id,
  data: {
    'document-id': @document.id.to_s.parameterize,
    'document-counter': @counter,
  },
  itemscope: true,
  itemtype: @document.itemtype,
  class: classes.flatten.join(' ') do %>
  <%= header %>
  <% if body.present? %>
    <%= body %>
  <% else %>
    <div class="document-main-section container-xxl">
  
      <% if @component.to_s == 'div' %>
        <br/>
        <%= render(ViewerComponent.new(documentId: @document.id, prefix: 'oocihm')) %>
      <% else %>
      
        <% if @component.to_s == 'div' %>
          <br/>
        <% end %>
        <%= title %>
        
        <%= embed %>
        <%= content %>
        <% if @component.to_s == 'div' %>
        <br/>
        <div class="row gx-2 gy-1">
          <div class="col-sm-9">
            <h2>Document Record</h2>
            <%= metadata %>
            <% metadata_sections.each do |section| %>
              <%= section %>
            <% end %>
          </div>
          <div class="col-sm-3">
            <%= render(Blacklight::Document::SidebarComponent.new(presenter: @presenter)) %>
          </div>
        </div>
        <% end %>
        <% if @component.to_s != 'div' %>
            <%= metadata %>
            <% metadata_sections.each do |section| %>
              <%= section %>
            <% end %>
        <% end %>
        <% partials.each do |partial| %>
          <%= partial %>
        <% end %>
        <% if @component.to_s == 'article' %>
          <%= render(LegacyOcrSearchComponent.new(documentId: @document.id, term: params[:q] || '', prefix: 'oocihm')) do %><% end %>
        <% end %>

      <% end %>

    </div>
    <%= thumbnail %>
  <% end %>
  <%= footer %>
<% end %>